* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: flex;
    margin: 0px 100px;
    justify-content: center;
    min-height: 600px;
}

.sidebar {
    background-image: url("./Assets/sidebar_image.jpg");
    background-size: cover;
    height: 600px;
    width: 400px;
    flex: 0 0 auto;
    position: relative;
    display: flex;
}

.fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 20px;
}

.grid {
    display: flex;
    flex-direction: column;
}

form {
    display: flex;
    flex-direction: column;
    background-color: rgb(0 0 0 / 0.05);
    justify-content: center;
    align-items: left;
    max-width: 1000px;
}

.hero {
    height: 100px;
    display: flex;
    position: relative;
    top: 20%;
    flex: auto;
}

p {
    font-family: Arial, sans-serif;
    margin: 20px 125px 20px 20px;
    font-size: 20px;
}

form>div {
    background-color: white;
    margin: 20px 0px;
    box-shadow: 0px 3px 2px rgb(0 0 0 / 0.15);
}

button {
    width: 250px;
    height: 50px;
    background-color: darkolivegreen;
    border-radius: 5px;
    margin: 10px 20px -10px 20px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 700;
}

form a {
    color: darkolivegreen;
    font-weight: 700;
    text-decoration: none;
}

label {
    font-size: 12px;
    font-family: Arial, sans-serif;
    letter-spacing: 2px;
}

input {
    height: 35px;
    border: 2px solid rgb(0 0 0 / 0.05);
    border-radius: 5px;
    width: 300px;
    margin: 0px 0px 10px 0px;
}

input:focus {
    box-shadow: 3px 3px 2px rgb(0 0 0 / 0.15);
}

input:invalid {
    border-color: red;
}

.credit {
    position: absolute;
    bottom: 0;
    flex: auto;
}

.credit p {
    margin: 0;
    justify-content: center;
    color: white;
}

.hero p {
    margin: 0;
    color: white;
}

a:visited {
    color: white;
}